<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="auditorPattern">%d{ISO8601} [%15.15t] %5p %-40.40c{39.1} [%X{FILENAME}] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${auditorPattern}</pattern>
            </PatternLayout>
        </Console>
        <RollingRandomAccessFile name="RandomAccessFile" fileName="${logPath}/application.log"
                                 filePattern="${logPath}/$${date:yyyy-MM}/application-%d{MM-dd-yyyy}-%i.log.gz"
                                 immediateFlush="false" append="false" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${auditorPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
        <Routing name="Routing">
            <Routes pattern="$${ctx:FILENAME}">
                <Route key="$${ctx:FILENAME}">
                    <RollingRandomAccessFile name="Rolling-$${ctx:FILENAME}" fileName="${logPath}/default.log"
                                             immediateFlush="false" append="false">
                        <PatternLayout>
                            <pattern>${auditorPattern}</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                            <SizeBasedTriggeringPolicy size="250MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="10"/>
                    </RollingRandomAccessFile>
                </Route>
                <Route>
                    <RandomAccessFile name="Rolling-${ctx:FILENAME}" fileName="${logPath}/${ctx:FILENAME}.log"
                                      immediateFlush="false" append="false">
                        <PatternLayout>
                            <Pattern>[%d] %m%n</Pattern>
                        </PatternLayout>
                    </RandomAccessFile>
                </Route>
            </Routes>
            <IdlePurgePolicy timeToLive="15" timeUnit="minutes"/>
        </Routing>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.hstreb" level="trace" includeLocation="true" additivity="false">
            <AppenderRef ref="RandomAccessFile"/>
            <AppenderRef ref="Routing"/>
        </AsyncLogger>
        <AsyncLogger name="org.hstreb" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="RandomAccessFile"/>
            <AppenderRef ref="Routing"/>
        </AsyncLogger>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>